<div id="container">
  <div class="stat-section">
  <div class="stat-title">Do You Know the Four R's?</div>
    <ul class="stat-box">
        <div class="icon"><img src="{{ site.baseurl }}/img/reduce.png" style="width:78px"></div>
        <div class="label">Reduce</div>
        <div class="stat-box-hover">Use less materials!</div>
    </ul>

    <ul class="stat-box">
        <div class="icon"><i class="fa fa-trash-o fa-5x"></i></div>
        <div class="label">Reuse</div>
        <div class="stat-box-hover">Refill your water bottles!</div>
    </ul>

      <ul class="stat-box">
        <div class="icon"><i class="fa fa-recycle fa-5x"></i></div>
        <div class="label">Recycle</div>
        <div class="stat-box-hover">Recycle the right materials</div>
    </ul>

    <ul class="stat-box">
        <div class="icon"><img src="{{ site.baseurl }}/img/rot.png" style="width:78px"></div>
        <div class="label">Rot</div>
        <div class="stat-box-hover">Compost and give back to Mother Nature</div>
    </ul>
  </div>
</div>

<div id="container">
  <div class="video-wrapper">
    <div class="video-title">Help Oski Reach Zero Waste by 2020!</div>
    <iframe class="vedio" src="http://www.youtube.com/embed/T2dzVfPTtOA?feature=player_detailpage" height="500px" width="700px" frameborder="0" allowfullscreen=""></iframe>
  </div>
</div>

<div class="social-media-wrapper">
    <div class="social-media1">
      <div class="social-media-title">Follow Us</div>
      <div class="social-media-icons">
        <ul class="follow-us"><a href="https://www.facebook.com/calzerowaste"><i class="fa fa-facebook fa-2x"></i></a></ul>
      </div>
    </div>

    <div class="social-media1">
      <div class="social-media-title">Get in touch!</div>
      <div class="contact-info">
          16A Edwards Track, #1386 Berkeley, CA 94720-1386
          <br>
          (510) 643-4612
          <br>
          recycle@berkeley.edu
      </div>
    </div>

</div>

<div id="container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.6274691859244!2d-122.26481109999997!3d37.869006199999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c2785c5d073%3A0xa26223bc9d24a1c7!2sEdwards+Track%2C+University+of+California%2C+Berkeley%2C+Berkeley%2C+CA+94704!5e0!3m2!1sen!2sus!4v1414780639177" width="100%" height="200" frameborder="0" style="border:0"></iframe>
</div>

<!-- <div id="container">
  <div class="sign">
    <img src="/img/MaxR.png">
  </div>
</div> -->